{:paths ["src" "resources"]

 :deps {com.github.seancorfield/honeysql     {:mvn/version "2.0.0-rc3"}
        hikari-cp/hikari-cp                  {:mvn/version "2.13.0"}
        integrant                            {:mvn/version "0.8.0"}
        metosin/reitit                       {:mvn/version "0.5.15"}
        metosin/reitit-ring                  {:mvn/version "0.5.15"}
        mysql/mysql-connector-java           {:mvn/version "8.0.22"}
        org.clojure/tools.logging            {:mvn/version "1.1.0"}
        org.slf4j/slf4j-simple               {:mvn/version "2.0.0-alpha5"}
        ring/ring                            {:mvn/version "1.9.3"}
        seancorfield/next.jdbc               {:mvn/version "1.2.659"}}

 :aliases {:dev        {:extra-paths ["dev/src"]
                        :extra-deps  {integrant/repl {:mvn/version "0.3.2"}}}}}
