# This is a basic workflow to help you get started with Actions

name: deploy

# Controls when the workflow will run
on:
  push:
    branches:
      - github-action
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build-deploy:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:8.0.23
        env: # 사용할 서비스의 환경설정
          MYSQL_ROOT_PASSWORD: root
        ports: # 열어줄 포트, 8080:3306 형태로도 가능
          - 3306
        options: >-  # 서비스에 걸어줄 옵션
          --health-cmd="mysqladmin ping"

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout source code
        uses: actions/checkout@v2

      - name: Verify Mysql connection
        run: |
          mysql --version
          sudo service mysql start
          mysql -uroot -proot -e "CREATE DATABASE cljdev"
          mysql -uroot -proot -e "CREATE USER 'dev'@'%' IDENTIFIED WITH 'mysql_native_password' BY '1234'"
          mysql -uroot -proot -e "GRANT ALL PRIVILEGES ON cljdev.* TO 'dev'@'%' WITH GRANT OPTIONS"
          mysql -uroot -proot -e "FLUSH PRIVILEGES"
          mysql -udev -p1234 -e "SHOW DATABASES"

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16'

      - name: Install newman
        run: npm install -g newman

      - name: Setup Java
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '11'

      - name: Install clojure tools
        uses: DeLaGuardo/setup-clojure@3.6
        with:
          cli: 1.10.1.693

      - name: Run server
        run: clojure -A:dev -X user/go

      - name: Run end to end tests
        run: newman run newman.json
